* > h1, h2, h5, p {
  margin: 0;
  letter-spacing: 1.5px;
}

* > a {
  text-decoration: none;
  letter-spacing: 1.5px;
}

.title {
  text-align: center;
  color: white;
  line-height: 34px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
}

.el-button {
  display: block;
  margin: 0 auto;
  max-width: 299px;
  border: 1px solid white;
  padding: 13px 5px;
  color: white;
  font-size: 32px;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease;
  &:hover {
    border-color: red;
    color: red;
  }
}

.gmnoprint, .gm-style-cc {
  display: none;
}

/* Begin Slick Slider */
.slick-arrow {
  height: 85px;
  width: 40px;
  z-index: 1;
  font-size: 1px;
  transition: all 300ms ease;
  transform: rotateZ(0);
  &.slick-prev {
    left: -77px;
  }
  &.slick-next {
    right: -77px;
    transform: rotate(180deg);
  }
  &:hover {
    opacity: .8;
  }
  &:before {
    display: none;
  }
}

.slick-dots {
  margin: 0;
  bottom: -77px;
  li {
    height: 4px;
    &.slick-active > button {
      background: red;
    }
    button {
      padding: 2px;
      width: 27px;
      background: #898989;
      &:before {
        display: none;
      }
      &:hover {
        opacity: .8;
      }
    }
  }
}
/* End Slick Slider */


/* Begin PopUp's */
.fancybox-overlay {
  background: rgba(255, 255, 255, 0.6);
}

.fancybox-skin{
  background: rgba(0, 0, 0, 0.87);
  border-radius: 0;
  box-shadow: none;
}

.fancybox-close {
  top: 14px;
  right: 12px;
  background: none;
  width: 26px;
  height: 26px;
  &:hover {
    opacity: .8;
  }
  &:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
    height: 2px;
    background: white;
    transform: rotate(-49deg);
  }
  &:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
    height: 2px;
    background: white;
    transform: rotate(49deg);
  }
}

.contact-popup {
  box-sizing: border-box;
  padding: 81px 85px 55px 85px;
  .contact-title {
    max-width: 450px;
    margin: 0 auto 78px auto;
    text-align: center;
    color: white;
    font-family: MyriadPro;
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
  }
  form {
    max-width: 459px;
    margin: 0 auto;
    .form-field {
      &:first-of-type {
        margin-bottom: 18px;
      }
      &:last-of-type {
        margin-bottom: 45px;
      }
      input {
        padding-left: 15px;
        width: 100%;
        height: 61px;
        border: 1px solid white;
        background: rgba(255, 255, 255, 0.5);
        color: white;
        font-size: 30px;
        font-weight: 400;
        line-height: 72px;
        &[name=master] {
          display: none;
        }
        &.error {
          border-color: red;
          &::-webkit-input-placeholder {
            color: red;
          }
          &::-moz-placeholder {
            color: red;
          }
          &:-moz-placeholder {  
            color: red;
          }      
          &:-ms-input-placeholder {
            color: red;
          }
        }
        &::-webkit-input-placeholder {
          color: white;
        }
        &::-moz-placeholder {
          color: white;
        }
        &:-moz-placeholder {  
          color: white;
        }      
        &:-ms-input-placeholder {
          color: white;
        }
      }
    }
    button {
      padding: 8px 5px;
      background: transparent;
      max-width: 234px;
      width: 100%;
    }
  }
}

.call-success {
  padding: 15px 25px;
  text-align: center;
  color: white;
  font-family: MyriadPro;
  line-height: 35px;
  font-weight: 400;
  .call-title {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .call-subtitle {
    font-size: 25px;
  }
}
/* End PopUp's */


/* Begin Header */
.header {
  padding: 22px 0 27px 0;
  background: black url('../images/header-bg.jpg') no-repeat center/cover;
  background-attachment: fixed;
  .header-wrap {
    margin-bottom: 271px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
      margin-right: 15px;
      max-width: 164px;
      display: inline-block;
      transition: all 300ms ease;
      &:hover {
        opacity: .8;
      }
    }
    .header-info {
      max-width: 763px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-title {
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        h1 {
          font-size: 32px;
        }
      }
      .header-contacts {
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        color: white;
        text-transform: uppercase;
        .header-tel {
          color: white;
          transition: all 300ms ease;
          &:hover {
            opacity: .8;
          }
        }
        p {

        }
      }
    }
  }
  .header-content {
    max-width: 1030px;
    margin: 0 auto;
    text-align: center;
    .header-tagline {
      margin-bottom: 101px;
      font-family: BERNIER;
      font-size: 60px;
      font-weight: 400;
      line-height: 86px;
      color: white;
      text-transform: uppercase;
    }
    a {
      margin-bottom: 121px;
    }
    .razor-wrap {
      display: inline-block;
      height: 53px;
      width: 53px;
    }
  }
}
/* End Header */


/* Begin Section 1 */
.section01 {
  padding: 38px 0 53px 0;
  text-align: center;
  color: black;
  font-family: CoreSansD37Cn;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  background: white;
  .about-title {
    margin-bottom: 30px;
    line-height: 32px;
  }
  .about-content {
    p:not(:last-child) {
      margin-bottom: 30px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
/* End Section 1 */


/* Begin Section 2 */
.section02 {
  padding: 48px 0 52px 0;
  h2 {
    margin-bottom: 35px;
  }
  .brand-name {
    margin-bottom: 52px;
    text-align: center;
    font-family: CoreSansD37Cn;
    font-size: 30px;
    font-weight: 400;
    color: white;
    line-height: 34px;
  }
  .price-table {
    max-width: 1110px;
    margin: 0 auto;
    padding: 33px 40px 50px 40px;
    border: 1px solid white;
    color: white;
    font-family: CoreSansD37Cn;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1.5px;
    .table-wrap {
      &:not(:last-child) {
        margin-bottom: 34px;
      }
      .table-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .col-name {
          flex-shrink: 0;
        }
        .col-line {
          margin: 0 2px 0 8px;
          display: block;
          width: 100%;
          border-bottom: 1px dotted white;
        }
      }
    }
  }
}
/* End Section 2 */


/* Begin Section 3 */
.section03 {
  padding-bottom: 78px;
  .photo-row {
    &.nth-type2 {
      .photo-wrap:nth-child(1) {
        width: 44%;
      }
      .photo-wrap:nth-child(2) {
        width: 60%;
      }
    }
    display: flex;
    .photo-wrap {
      cursor: pointer;
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2) {
        width: 44%;
      }
      &:hover {
        img {
          filter: none;
        }
      }
      img {
        height: 435px;
        width: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: all 300ms ease;
      }
    }
  }
  .show-more {
    margin-top: 80px;
  }
}
/* End Section 3 */


/* Begin Section 4 */
.section04 {
  .video-slider {
    margin-bottom: 140px;
    .video-wrap {
      position: relative;
      width: calc(100%/3);
      cursor: pointer;
      &.active {
        video {
          filter: none;
        }
      }
      &:hover {
        video {
          filter: none;
        }
        .video-play {
          &.play {
            &.pause {
              opacity: 1;
            }
          }
        }
      }
      video {
        height: 327px;
        width: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: all 300ms ease;
      }
      .video-play {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &.play {
          width: 106px;
          height: 106px;
          border-radius: 50%;
          border: 2px solid white;
          &:after {
            content: '';
            position: absolute;
            top: 16px;
            left: 32px;
            border: 34px solid transparent;
            border-left: 54px solid white;
          }
          &.pause {
            opacity: 0;
            transition: all 300ms ease;
            &:before {
              content: '';
              position: absolute;
              border: 0;
              border-left: 0;
              height: 50px;
              width: 9px;
              top: 26px;
              left: 35px;
              background: white;
            }
            &:after {
              content: '';
              position: absolute;
              border: 0;
              border-left: 0;
              height: 50px;
              width: 9px;
              top: 26px;
              left: 60px;
              background: white;
            }
          }
        }
      }
    }
  }
}
/* End Section 4 */


/* Begin Section 5 */
.section05 {
  padding: 51px 0 37px 0;
  background: black url('../images/advantages-bg.jpg') no-repeat center/cover;
  h2 {
    margin-bottom: 54px;
  }
  .figures-wrap {
    max-width: 945px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    figure {
      max-width: 166px;
      display: inline-block;
      margin: 25px 35px 25px 35px;
      text-align: center;
      &:nth-child(5) > .icon-wrap {
        img {
          height: 80px;
          width: 90px;
        }
      }
      .advantages-circle {
        position: relative;
        width: 142px;
        height: 142px;
        margin: 0 auto 35px auto;
        border-radius: 50%;
        border: 1px solid rgba(255, 0, 0, 0.37);
        cursor: pointer;
        .icon-wrap {
          overflow: hidden;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 127px;
          height: 127px;
          border: 1px solid red;
          border-radius: 50%;
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
          }
        }
      }
      figcaption {
        color: white;
        font-size: 25px;
        font-weight: 400;
        line-height: 34px;
      }
    }
  }
}
/* End Section 5 */


/* Begin Section 6 */
.section06 {
  padding: 52px 15px 35px 15px;
  h2 {
    margin-bottom: 38px;
  }
  .sub-title {
    max-width: 950px;
    margin: 0 auto 76px auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
  }
  .hairdressers-slider {
    .slick-arrow {
      top: 235px;
      background: url('../images/arrow-icon.png') no-repeat;
    }
    .hairdresser-item {
      margin: 0 10px;
      width: 371px;
      text-align: center;
      cursor: pointer;
      .hairdresser-photo {
        display: inline-block;
        height: 551px;
        width: 100%;
        margin-bottom: 23px;
        &:hover {
          img {
            filter: none;
          }
        }
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          filter: grayscale(100%);
          transition: all 300ms ease;
        }
      }
      .hairdresser-title {
        margin-bottom: 22px;
        color: white;
        font-weight: 400;
        line-height: 34px;
        font-size: 35px;
        span {
          font-size: 30px;
        }
      }
      a {
        max-width: 248px;
        font-size: 30px;
      }
    }
  }
}
/* End Section 6 */


/* Begin Section 7 */
.section07 {
  padding: 39px 0 17px 0;
  background: black url('../images/accessories-bg.jpg') no-repeat center/cover;
  h2 {
    margin-bottom: 38px;
  }
  .sub-title {
    margin-bottom: 47px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
  }
  .accessories-slider {
    .slick-arrow {
      top: 110px;
      background: url('../images/arrow-icon.png') no-repeat;
    }
    .accessory-photo {
      margin: 0 10px;
      position: relative;
      display: inline-block;
      width: 326px;
      height: 317px;
      cursor: pointer;
      img {
        object-fit: cover;
        height: 317px;
        width: 100%;
      }
      &:hover {
        .accessory-hover {
          bottom: 0;
          opacity: 1;
        }
      }
      .accessory-hover {
        position: absolute;
        bottom: -100px;
        width: 100%;
        height: 100px;
        padding: 15px 25px 10px 25px;
        background: white;
        display: flex;
        justify-content: space-between;
        transition: all 300ms ease;
        opacity: 0;
        .accessory-title {
          color: black;
          font-size: 25px;
          font-weight: 400;
          line-height: 34px;
        }
        span {
          margin-left: 5px;
          color: red;
          font-family: MyriadPro;
          font-size: 53px;
          font-weight: 700;
          line-height: 60px;
        }
      }
    }
  }
}
/* End Section 7 */


/* Begin Section 8 */
.section08 {
  padding: 31px 0 41px 0;
  h2 {
    padding: 0 15px;
    margin-bottom: 49px;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    color: white;
    text-align: center;
  }
  .members-slider {
    .member-photo {
      cursor: pointer;
      &:hover {
        img {
          filter: none;
        }
      }
      img {
        height: 395px;
        width: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: all 300ms ease;
      }
    }
    .slick-dots {
      bottom: -38px;
    }
  }
}
/* Begin Section 9 */


/* Begin Section 9 */
.section09 {
  position: relative;
  .map {
    height: 740px;
    width: 100%;
  }
  .contacts-wrap {
    padding: 13px 57px 30px 57px;
    max-width: 585px;
    position: absolute;
    top: 0;
    left: 367px;
    background: rgba(0, 0, 0, 0.68);
    .contacts-row {  
      display: flex;
      justify-content: space-between; 
      .phones {
        a {
          color: white;
          font-size: 32px;
          font-weight: 400;
          line-height: 72px;
          text-transform: uppercase;
        }
      }
      .social {
        z-index: 1;
        position: relative;
        margin-top: 41px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 200px;
        width: 100%;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid white;
          &:hover {
            border-color: red;
            img {
              filter: none;
            }
          }
          img {
            filter: grayscale(100%) contrast(200%) invert(100%);
          }
        }
      }
    }
    .adress {
      margin: -22px 0 25px 0;
      color: white;
      font-size: 32px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0;
    }

    form {
      p {
        margin-bottom: 25px;
        color: white;
        font-size: 35px;
        font-weight: 400;
        line-height: 34px;
      }
      .form-field {
        &:first-of-type {
          margin-bottom: 18px;
        }
        &:last-of-type {
          margin-bottom: 45px;
        }
        input {
          padding-left: 15px;
          width: 100%;
          height: 61px;
          border: 1px solid white;
          color: white;
          font-size: 30px;
          font-weight: 400;
          line-height: 72px;
          background: rgba(255, 255, 255, 0.5);
          &.error {
            border-color: red;
            &::-webkit-input-placeholder {
              color: red;
            }
            &::-moz-placeholder {
              color: red;
            }
            &:-moz-placeholder {  
              color: red;
            }      
            &:-ms-input-placeholder {
              color: red;
            }
          }
          &::-webkit-input-placeholder {
            color: white;
          }
          &::-moz-placeholder {
            color: white;
          }
          &:-moz-placeholder {  
            color: white;
          }      
          &:-ms-input-placeholder {
            color: white;
          }
        }
      }
      button {
        padding: 9px 5px;
        max-width: 234px;
        width: 100%;
        font-size: 30px;
        background: transparent;
      }
    }
  }
}
/* End Section 9 */


/* Begin Footer */
.footer {
  padding: 25px 0 35px 0;
  background: black;
  .footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-contacts {
      a {
        display: block;
        color: white;
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
        text-transform: uppercase;
        transition: all 300ms ease;
        &:hover {
          opacity: .8;
        }
      }
    }
    .navigation {
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid white;
        li{
          text-align: center;
          border-right: 1px solid white;
          transition: all 300ms ease;
          &:last-child {
           border-right: 0;
          }
          &:hover {
            background: white;
            a {
              color: black;
            }
          }
          a {
            display: block;
            padding: 7px 5px;
            min-width: 157px;
            font-size: 17px;
            font-weight: 400;
            text-transform: uppercase;
            color: white;
            transition: all 300ms ease;
            &:hover {
              opacity: .8;
            }
          }
        }
      }
    }
    .copyright {
      figure {
        text-align: center;
        margin: 0;
        a {
          display: inline-block;
          transition: all 300ms ease;
          &:hover {
            opacity: .8;
          }
        }
        figcaption {
          color: white;
          font-family: MyriadPro;
          font-size: 14px;
          font-weight: 300;
          line-height: 27px;
        }
      }
    }
  }
  .footer-line {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 6px;
    background: repeating-linear-gradient(to right,
      white 0 , white 50%,
      red 50%, red 100%
    );
    &:after {
      content: '';
      position: absolute;
      top: -10px;
      left: 49.5%;
      border: 10px solid transparent;
      border-bottom: 6px solid red;
    }
  }
}
/* End Footer */