<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
      <div class="footer-inner">
        <div class="footer-contacts">
          <a href="tel:88005553535">8 800 555 35 35</a>
          <a href="mailto:baldaekb@bk.ru">baldaekb@bk.ru</a>
        </div>
        <nav class="navigation">
          <ul>
            <li><a href="#prices">Услуги и цены</a></li>
            <li><a href="#advantages">Преимущества</a></li>
            <li><a href="#gallery">Галерея</a></li>
            <li><a href="#masters">Мастера</a></li> 
          </ul>
        </nav>
        <div class="copyright">
          <figure>
            <a href="http://sheep.fish/" target="_blank">
              <img src="images/sheep-fish.png" alt="Sheep.Fish">
            </a>
            <figcaption>© Разработано в студии “Sheep.Fish”</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="footer-line"></div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script>
  var ajaxUrl = 'http://262.sheep.fish/wp-admin/admin-ajax.php';
  var dataPage = 2;
  
  var mapZoom = 17;
  var mapMarkerIcon = 'images/marker.png';
  var mapMarkerY = 56.804093;
  var mapMarkerX = 60.612763;
  var mapCenterY = 56.803964;
  var mapCenterX = 60.608275;
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMiooKqW-BEdkUUW9l8JZejaSl-VFlydY"></script>
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_7.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
