<!-- HEADER -->
<header class="header">
  <div class="mbox">
    <div class="header-wrap">
      <a href="index.html" class="header-logo">
        <img src="images/logo.png" alt="logo">
      </a>
      <div class="header-info">
        <div class="header-title">
          <h1>BALDA Barbershop & Cosmetic</h1>
        </div>
        <div class="header-contacts">
          <a href="tel:88005553535" class="header-tel">8 800 328 63 33</a>
          <p>8 Марта, д. 169, 2п.</p>
        </div>
      </div>
    </div>
    <div class="header-content">
      <div class="header-tagline">
        <p>Забудь все, что ты знал о барбершопах.</p> 
        <p>Ощути на себе <span style="color: red;">настоящий</span> барберинг!</p>
      </div>
      <a href="#masters" class="el-button">Онлайн запись</a>
      <div class="razor-wrap">
        <img src="images/razor-icon.png" alt="razor">
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

