<section class="section08">
  <h2>Участвуйте в жизни нашего барбершопа и вступайте в клуб <span style="color: red;">настоящих мужиков</span>!</h2>
  <div class="members-slider">
    <div class="member-photo">
      <img src="images/member01.jpg" alt="member">
    </div>
    <div class="member-photo">
      <img src="images/member02.jpg" alt="member">
    </div>
    <div class="member-photo">
      <img src="images/member03.jpg" alt="member">
    </div>
    <div class="member-photo">
      <img src="images/member04.jpg" alt="member">
    </div>
    <div class="member-photo">
      <img src="images/member05.jpg" alt="member">
    </div>
    <div class="member-photo">
      <img src="images/member03.jpg" alt="member">
    </div>
  </div>
</section>