<section id="masters" class="section06 mbox">
  <h2 class="title">Наши мастера</h2>
  <div class="sub-title">
    <p>У нас работают <span style="color: red;">лучшие мастера</span> своего дела, которые подстригут и побреют вас в лучших традициях барберов разбавляя процесс настоящей мужской беседой.</p>
  </div>
  <div class="hairdressers-slider">
    <div class="hairdresser-item">
      <div class="hairdresser-photo">
        <img src="images/hairdresser01.jpg" alt="hairdresser">
      </div>
      <div class="hairdresser-title">
        <p>Николай Ильич1</p>
        <span>Старший мастер</span>
      </div>
      <a href="#call-popup" class="js-contact el-button">Запись к мастеру</a>
    </div>
    <div class="hairdresser-item">
      <div class="hairdresser-photo">
        <img src="images/hairdresser02.jpg" alt="hairdresser">
      </div>
      <div class="hairdresser-title">
        <p>Николай Ильич2</p>
        <span>Старший мастер</span>
      </div>
      <a href="#call-popup" class="js-contact el-button">Запись к мастеру</a>
    </div>
    <div class="hairdresser-item">
      <div class="hairdresser-photo">
        <img src="images/hairdresser03.jpg" alt="hairdresser">
      </div>
      <div class="hairdresser-title">
        <p>Николай Ильич3</p>
        <span>Старший мастер</span>
      </div>
      <a href="#call-popup" class="js-contact el-button">Запись к мастеру</a>
    </div>
    <div class="hairdresser-item">
      <div class="hairdresser-photo">
        <img src="images/hairdresser04.jpg" alt="hairdresser">
      </div>
      <div class="hairdresser-title">
        <p>Николай Ильич4</p>
        <span>Старший мастер</span>
      </div>
      <a href="#call-popup" class="js-contact el-button">Запись к мастеру</a>
    </div>
  </div>
</section>