<section id="advantages" class="section05">
  <div class="mbox">
    <h2 class="title">Наши преимущества</h2>
    <div class="figures-wrap">
      <figure>
        <div class="advantages-circle">
          <div class="icon-wrap" data-png="images/snowflake-icon.png" data-gif="images/snowflake-icon.gif">
            <img src="images/snowflake-icon.png" alt="snowflake" />
          </div>
        </div>
        <figcaption>Уникальные услуги которые, вы больше нигде не встрети</figcaption>
      </figure>
      <figure>
        <div class="advantages-circle">
          <div class="icon-wrap" data-png="images/sofa-icon.png" data-gif="images/sofa-icon.gif">
            <img src="images/sofa-icon.png" alt="sofa" />
          </div>
        </div>
        <figcaption>Проработанный до деталей интерьер с фирменным стилем</figcaption>
      </figure>
      <figure>
        <div class="advantages-circle">
          <div class="icon-wrap" data-png="images/marker-icon.png" data-gif="images/marker-icon.gif">
            <img src="images/marker-icon.png" alt="marker" />
          </div>
        </div>
        <figcaption>Удобное размещение нашего барбершопа</figcaption>
      </figure>
      <figure>
        <div class="advantages-circle">
          <div class="icon-wrap" data-png="images/wheel-icon.png" data-gif="images/wheel-icon.gif">
            <img src="images/wheel-icon.png" alt="wheel" />
          </div>
        </div>
        <figcaption>Наличие парковки для вашего комфорта</figcaption>
      </figure>
      <figure>
        <div class="advantages-circle">
          <div class="icon-wrap" data-png="images/eye-icon.png" data-gif="images/eye-icon.gif">
            <img src="images/eye-icon.png" alt="eye" />
          </div>
        </div>
        <figcaption>Использование ноу хау в бритье и стрижках</figcaption>
      </figure>
      <figure>
        <div class="advantages-circle">
          <div class="icon-wrap" data-png="images/razor2-icon.png" data-gif="images/razor2-icon.gif">
            <img src="images/razor2-icon.png" alt="razor" />
          </div>
        </div>
        <figcaption>Вас будут стричь лучшие барберы России</figcaption>
      </figure>
     <figure>
        <div class="advantages-circle">
          <div class="icon-wrap" data-png="images/glass-icon.png" data-gif="images/glass-icon.gif">
            <img src="images/glass-icon.png" alt="glass" />
          </div>
        </div>
        <figcaption>Угощаем чаем, кофе и САМОГОНОМ</figcaption>
       </figure>
    </div>
  </div>
</section>