<div class="section04">
  <div class="video-slider">
    <div class="video-wrap">
      <span class="video-play play"></span>
      <video src="video/test.mp4"></video>
    </div>
    <div class="video-wrap">
      <span class="video-play play"></span>
      <video src="video/test.mp4"></video>
    </div>
    <div class="video-wrap">
      <span class="video-play play"></span>
      <video src="video/test.mp4"></video>
    </div>
    <div class="video-wrap">
      <span class="video-play play"></span>
      <video src="video/test.mp4"></video>
    </div>
  </div>
</div>