<section id="prices" class="section02">
  <div class="mbox">
    <h2 class="title">Услуги и цены</h2>
    <div class="brand-name">
      <p>Балда – необработанное дерево.</p>
      <p>Мы не с проста взяли такое название и хотим, чтобы в массах укоренилась правильная ассоциация!</p>
    </div>
    <div class="price-table">
      
      <div class="haircut-wrap table-wrap">
        <div class="table-row">
          <div class="col-name">Стрижка</div>
          <span class="col-line"></span>
          <div class="col-price">2000р.</div>
        </div>
        <div class="table-row">
          <div class="col-name">Комплекс</div>
          <span class="col-line"></span>
          <div class="col-price">3000р.</div>
        </div>
        <div class="table-row">
          <div class="col-name">Стрижка детская</div>
          <span class="col-line"></span>
          <div class="col-price">1000р.</div>
        </div>
        <div class="table-row">
          <div class="col-name">Стрижка под машинку</div>
          <span class="col-line"></span>
          <div class="col-price">1000р.</div>
        </div>
      </div>
      
      <div class="beard-wrap table-wrap">
        <div class="table-row">
          <div class="col-name">Борода</div>
          <span class="col-line"></span>
          <div class="col-price">1000р.</div>
        </div>
        <div class="table-row">
          <div class="col-name">Тонировка бороды</div>
          <span class="col-line"></span>
          <div class="col-price">1000р.</div>
        </div>
      </div>

      <div class="shaving-wrap table-wrap">
        <div class="table-row">
          <div class="col-name">Бритье</div>
          <span class="col-line"></span>
          <div class="col-price">500р.</div>
        </div>
      </div>
    </div>
  </div>
</section>