<div class="section09">
  <div id="map" class="map"></div>
  <div class="contacts-wrap">
    <div class="contacts-inner">
      <div class="contacts-row">
        <div class="phones">
          <a href="tel:88005553535">8 800 555 35 35</a>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/balda.barbershop" target="_blank"><img src="images/facebook-icon.png" alt="facebook"></a>
          <a href="https://vk.com/id417863842" target="_blank"><img src="images/vk-red-icon.png" alt="vkontakte"></a>
          <a href="https://www.instagram.com/Balda_barbershop/" target="_blank"><img src="images/insta-icon.png" alt="instagram"></a>
        </div>
      </div>
      <div class="adress">
        <p>г. Екатеринбург, 
        <br>ул. 8 Марта, 
        <br>д. 169, 2 подъезд, 2 этаж</p>
      </div>
    </div>
    <form class="contacts" action="ajax-programer.php" method="post">
      <p>Приходите к нам или запишитесь онлайн для удобства. Оставьте свои контакты, и мы Вам перезвоним.</p>
      <div class="form-field">
        <input type="text" name="name" placeholder="Ваше имя" required>
      </div>
      <div class="form-field">
        <input type="tel" class="tel-mask" name="tel" placeholder="Ваш номер телефона" required>
      </div>
      <button type="submit" class="el-button">Отправить</button>
    </form>
  </div>
</div>