<div class="section01">
  <div class="mbox">
    <div class="about-title">
      <p>Ты где? В Балде!</p> 
      <p>Не удивляйтесь, скоро это будет самый популярный ответ на данный вопрос.</p>
      <p>Потому что:</p> 
    </div>
    <div class="about-content">
      <ul>
        <li>Мы ставим задачу перед собой показать людям то, что скрыто от глаз обычного обывателя. А именно: используя то, что было ранее, мы дополнили самыми передовыми методами и тенденциями.</li>
        <li>Мы дадим посетителям знания, которые им помогут  отличать качественную услугу от обмана , а так же  с первого взгляда определить дилетантскую работу  самозванца, сопоставив с работой настоящего мастера.</li>
        <li>Откроем абсолютно новые знания о, казалось бы, известных вам стрижках, бритье и других услугах барбершопа.</li>
        <li>И самое главное! Мы покажем, как должно быть на самом деле!!! Для этого мы собрали себе в команду сильнейших мастеров Урала!</li>
      </ul>
    </div>
  </div>
</div>