<section class="section07">
  <div class="mbox">
    <h2 class="title">Аксессуары для мужчин</h2>
    <div class="sub-title">
      <p>Настоящий мужчина тщательно следит за собой и принимая это во внимание, мы предлагаем Вам продукцию высочайшего качества. Качество, которое мы гарантируем!</p>
    </div>
    <div class="accessories-slider">
      <div class="accessory-photo">
        <img src="images/accessory.jpg" alt="accessory">
        <div class="accessory-hover">
          <div class="accessory-title">
            <p>Воск для усов</p>
            <p>Pride-shop soft</p>
          </div>
          <span>3£</span>
        </div>
      </div>
      <div class="accessory-photo">
        <img src="images/accessory.jpg" alt="accessory">
        <div class="accessory-hover">
          <div class="accessory-title">
            <p>Воск для усов</p>
            <p>Pride-shop soft</p>
          </div>
          <span>3£</span>
        </div>
      </div>
      <div class="accessory-photo">
        <img src="images/accessory.jpg" alt="accessory">
        <div class="accessory-hover">
          <div class="accessory-title">
            <p>Воск для усов</p>
            <p>Pride-shop soft</p>
          </div>
          <span>3£</span>
        </div>
      </div>
      <div class="accessory-photo">
        <img src="images/accessory.jpg" alt="accessory">
        <div class="accessory-hover">
          <div class="accessory-title">
            <p>Воск для усов</p>
            <p>Pride-shop soft</p>
          </div>
          <span>3£</span>
        </div>
      </div>
      <div class="accessory-photo">
        <img src="images/accessory.jpg" alt="accessory">
        <div class="accessory-hover">
          <div class="accessory-title">
            <p>Воск для усов</p>
            <p>Pride-shop soft</p>
          </div>
          <span>3£</span>
        </div>
      </div>
    </div>
  </div>
</section>